# SPDX-License-Identifier: Apache-2.0

mainmenu "lvgl_nrf52840_mdk_sample"

# Your application configuration options go here

# Sources Kconfig.zephyr in the Zephyr root directlyory.
#
# Note: All 'source' statements work relative to the Zephyr root directlyory (due
# to the $srctree environment variable being set to $ZEPHYR_BASE). If you want
# to 'source' relative to the current Kconfig file instead, use 'rsource' (or a
# path relative to the Zephyr root).
source "Kconfig.zephyr"
